@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/MontserratRegular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/MontserratExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/MontserratSemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/MontserratBold.woff') format('woff');
}

:root {
  --color-333333: #333333;
  --color-E5E5E5: #E5E5E5;
  --color-FFFFFF: #FFFFFF;
  --color-FF9900: #FF9900;
  --color-E1670E: #E1670E;
  --color-CACACA: #CACACA;
  --color-222222: #222222;
  --color-414141: #414141;
  --color-F7B045: #F7B045;
  --color-666666: #666666;
  --color-000000: #000000;
  --color-595959: #595959;
  --color-DCDCDC: #DCDCDC;
  --color-ADADAD: #ADADAD;
  --color-ECECEC: #ECECEC;
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after{
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-FFFFFF);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-333333);
}

.all__btn {
  padding: 20px 38px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: var(--color-FF9900);
  color: var(--color-FFFFFF);
  cursor: pointer;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header {
  position: relative;
  background: var(--color-FFFFFF);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 11px;
}

.header__btn-open {
  display: none;
}

.header__logo-link {
  margin-right: auto;
}

.header__logo-link:focus-visible {
  outline: none;
  outline: 2px solid var(--color-FF9900);
  outline-offset: 2px;
}

.header__nav {
  display: flex;
}

.nav__close {
  display: none;
}

.header__nav-wrap {
  flex-wrap: wrap;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-right: 86px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-333333);
}

.header__nav-link:focus-visible {
   outline-color: var(--color-FF9900);
 }

 @media (min-width: 1200px) {
  .header__nav-link:hover:not(:focus-visible):before {
     opacity: 1;
     transform: scale(1);
   }

  .header__nav-link {
   position: relative;
   outline: 2px solid transparent;
   outline-offset: 5px;
   transition-property: color, outline-color;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
   }

  .header__nav-link:before {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     bottom: -7px;
     height: 3px;
     background-color: var(--color-FF9900);
     opacity: 0;
     transform: scale(0);
     transition-property: opacity, transform, background-color;
     transition-duration: .3s;
     transition-timing-function: ease-in-out;
   }
 }

 .header__nav-link:active:not(:focus-visible) {
    color: var(--color-E1670E);
 }

 .header__nav-link:active:not(:focus-visible):before {
    background-color: var(--color-E1670E);
 }

.form-container {
  display: inline-block;
}

.form-btn__open:focus-visible,
.form-btn__submit:focus-visible,
.form-btn-closed:focus-visible {
  outline: none;
  outline: 2px solid var(--color-FF9900);
  outline-offset: 2px;
}

.form-btn__open svg rect,
.form-btn__open svg path,
.form-btn-closed svg rect,
.form-btn-closed svg circle {
  transition-property: fill, stroke,;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.form-btn__open:hover svg rect,
.form-btn-closed:hover svg rect {
  fill: var(--color-FF9900);
}

.form-btn__open:hover svg path,
.form-btn-closed:hover svg circle {
  stroke: var(--color-FF9900);
}

.form-btn-closed:active svg rect {
  fill: var(--color-E1670E);
}

.form-btn-closed:active svg circle {
  stroke: var(--color-E1670E);
}

.form-btn__submit {
  margin-right: 20px;
}

.form-btn-closed {
  margin-right: 13px;
}

.form-btn__open {
  transition: opacity .3s ease-in-out;
}

.form-btn__open.active {
  opacity: 0;
}

.form {
  display: flex;
  align-items: center;
  padding: 16px 0px 16px 32px;

  width: 42%;

  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(-95%, -50%);

  opacity: 0;
  visibility: hidden;

  transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s, visibility .3s ease-in-out .2s;
  background-color: var(--color-FFFFFF);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px
}

.form__input {
  padding: 5px;
  margin: 0;
  margin-right: 14px;
  border: none;
  border-bottom: 1px solid var(--color-DCDCDC);
  width: 89%;
}

.form__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-ADADAD);
}

.form__input:focus-visible {
  outline: 0;
  opacity: 0.8;
}

.form__active {
  transform: translate(-97%, -50%);
  opacity: 1;
  visibility: visible;
}

/* section__hero */

.section__hero {
  padding-bottom: 51px;
}

.hero__banner {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 5.6% 4.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  max-width: 837px;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-FFFFFF);
}

.hero__text {
  max-width: 790px;
  margin-bottom: 90px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-FFFFFF);
}

.hero__btn {
  padding: 25px 37px 24px;
  font-size: 23.4581px;
  line-height: 29px;
  transition: background-color .3s ease-in-out;
}

.hero__btn:focus-visible {
  outline: none;
  background: rgba(255, 153, 0, 0.7);
}

.hero__btn:hover:not(:focus-visible) {
  background: rgba(255, 153, 0, 0.7);
}

.hero__btn:active:not(:focus-visible) {
  background: var(--color-E1670E);
}

.swiper.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero__pagination.swiper-bullet-pagination {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-bottom: 1.056%;
}

.slide1 {
  background-image: url('../img/low-angle-photo-of-balconies-2462015\ 1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide2 {
  background-image: url('../img/brown-and-blue-glass-building-2093076\ 2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide3 {
  background-image: url('../img/apartment-apartment-building-architecture-building-323705\ 2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-pagination-bullet.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-FFFFFF);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
}


/* about */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__title {
  margin-bottom: 20px;
  padding-left: 1.5px;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 2;
  color: var(--color-333333);
  letter-spacing: -0.004px;
}

.about__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.about__wrap-left {
  display: flex;
  align-items: flex-end;
  flex: 1 1 48%;
  width: 100%;
  min-height: 622px;
  background-image: url('../img/Rectangle\ 2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.about__wrap-left-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  background: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.3px;
}

.about__wrap-text {
  width: 60%;
  padding: 50px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-FFFFFF);
  letter-spacing: -0.01px;
}

.about__wrap-btn {
  padding: 18px 35.4px;
  margin-right: 54.2px;
  background-color: transparent;
  outline: 3px solid var(--color-FF9900);
  transition: background-color .3s ease-in-out;
}

.about__wrap-btn:focus-visible {
  outline: none;
  background: var(--color-FF9900);
}

.about__wrap-btn:hover:not(:focus-visible) {
  outline: none;
  background: var(--color-FF9900);
}

.about__wrap-btn:active:not(:focus-visible) {
  background: var(--color-E1670E);
}

.about__wrap-right {
  flex: 1 1 48%;
}

.about__wrap-right-block {
  background: var(--color-FFFFFF);
  background-repeat: no-repeat;
  background-position: left 8.63% center;
  background-size: 22%;
  outline: 1px solid var(--color-CACACA);
}

.about__wrap-right-block:first-child {
  margin-bottom: 32px;
}

.img__top {
  background-image: url('../img/Frame\ 16.svg');
}

.img__bottom {
  background-image: url('../img/Frame\ 12.svg');
}

.about__wrap-right-content {
  padding: 7.5% 13% 7.4% 34.36%;
}

.about__wrap-right-title {
  margin-bottom: 8.5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-333333);
}

.about__wrap-right-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-333333);
}

/* working */

.working {
  padding-top: 50px;
  padding-bottom: 51px;
}

.working__title {
  margin-bottom: 50px;
}

.working__nav {
  display: flex;
  margin-bottom: 45px;
}

.working__item:nth-child(-n+3) {
  margin-right: 86px;
}

.working__link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.1px;
  border: none;
  background: none;
  color: var(--color-333333);
  cursor: pointer;
  outline: transparent;
  transition-property: color, outline-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.working__link:focus-visible {
  outline: none;
  outline: 2px solid var(--color-FF9900);
  outline-offset: 3px;
}

.working__link:hover:not(:focus-visible) {
  color: var(--color-FF9900);
}

.working__link:active:not(:focus-visible) {
  color: var(--color-E1670E);
}

.tabs__btn-active {
  color: var(--color-E1670E);
}

.tab-content {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  min-height: 500px;
  transform: translateX(-100px);
  transition: .3s ease-in-out;
  opacity: 1s ease-in-out;
  transform: .8s ease-in-out;
}

.tab-content-active {
  visibility: visible;
  position: relative;
  opacity: 1;
  transform: none;
}

.working__content {
  position: relative;
}

.working__content.tab-1::before {
  content: "";
  position: absolute;
  width: calc(49% + 3px);
  bottom: 0;
  right: 0;
  top: 10px;
  background-image: url('../img/Rectangle\ 18.jpg');
  background-size: cover;
  background-position: center center;
}

.working__content.tab-2::before {
  content: "";
  position: absolute;
  width: calc(49% + 3px);
  bottom: 0;
  right: 0;
  top: 10px;
  background-image: url('../img/workingTab2.jpg');
  background-size: cover;
  background-position: center center;
}

.working__content.tab-3::before {
  content: "";
  position: absolute;
  width: calc(49% + 3px);
  bottom: 0;
  right: 0;
  top: 10px;
  background-image: url('../img/workingTab3.jpg');
  background-size: cover;
  background-position: center center;
}

.working__content.tab-4::before {
  content: "";
  position: absolute;
  width: calc(49% + 3px);
  bottom: 0;
  right: 0;
  top: 10px;
  background-image: url('../img/workingTab4.jpg');
  background-size: cover;
  background-position: center center;
}

.working__content-title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-333333);
}

.working__content-text {
  max-width: 43%;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-333333);
}

.working__btn {
  margin-right: 28px;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.working__btn:focus-visible {
  outline: none;
  background: var(--color-F7B045);
}

.working__btn:hover:not(:focus-visible) {
  background: var(--color-F7B045);
}

.working__btn:active:not(:focus-visible) {
  background: var(--color-E1670E);
}

.working__btn-contract {
  padding: 19px 36px;
  color: var(--color-333333);
  border: 1px solid var(--color-333333);
  background-color: transparent;
  transition-property: background-color color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.working__btn-contract:focus-visible {
  outline: none;
  background: var(--color-666666);
  color: var(--color-FFFFFF);
}

.working__btn-contract:hover:not(:focus-visible) {
  outline: none;
  background: var(--color-666666);
  color: var(--color-FFFFFF);
}

.working__btn-contract:active:not(:focus-visible) {
  outline: none;
  background: var(--color-000000);
  color: var(--color-FFFFFF);
}

/* questions */

.questions {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 51px;
}

.questions__title {
  margin-bottom: 42.5px;
  letter-spacing: -0.02px;
}

.questions__item-top {
  width: 100%;
  border: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--color-CACACA);
  border-bottom: 1px solid var(--color-CACACA);
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  margin-bottom: -1px;
  transition: border-color .3s ease-in-out;
}

.questions__item-top svg {
  transition: transform .3s ease-in-out;
}

.questions__item-text {
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-333333);
}

.questions__item-text-slash {
  color: var(--color-CACACA);
  transition: color .3s ease-in-out;
}

.questions__item-top svg ellipse {
  transition: fill .3s ease-in-out;
}

.questions__item-top:focus-visible {
  outline: none;
  border-color: var(--color-FF9900);
  z-index: 1;
}

.questions__item-top:focus-visible svg ellipse {
  fill: var(--color-FF9900);
}

.questions__item-top:focus-visible svg path {
  fill: var(--color-FFFFFF);
}
.questions__item-top:focus-visible .questions__item-text {
  color: var(--color-FF9900);
}

.questions__item-top:hover:not(:focus-visible) {
  outline: none;
  border-color: var(--color-FF9900);
  z-index: 1;
}

.questions__item-top:hover:not(:focus-visible) svg ellipse {
  fill: var(--color-FF9900);
}

.questions__item-top:hover:not(:focus-visible) svg path {
  fill: var(--color-FFFFFF);
}
.questions__item-top:hover:not(:focus-visible) .questions__item-text,
.questions__item-top:hover:not(:focus-visible) .questions__item-text .questions__item-text-slash {
  color: var(--color-FF9900);
}

.questions__item-text {
  transition: color .3s ease-in-out;
}

.questions__item-top:active:not(:focus-visible) {
  outline: none;
  border-color: var(--color-CACACA);
}

.questions__item-top:active:not(:focus-visible) svg ellipse {
  fill: var(--color-ECECEC);
}

.questions__item-top:active:not(:focus-visible) svg path {
  fill: var(--color-666666);
}

.questions__item-top:active:not(:focus-visible) .questions__item-text {
  color: var(--color-333333);
}

.questions__item-top:active:not(:focus-visible) svg {
  transform: rotate(45deg);
}

.accordion__top:focus-visible {
  outline: 0;
}

.accordion__top.ui-state-active {
  border-color: var(--color-FF9900);
}

.accordion__top.ui-state-active .questions__item-top {
  border-color: var(--color-FF9900);
  color: var(--color-FFFFFF);
}

.accordion__top.ui-state-active .questions__item-top svg {
  transform: rotate(45deg);
}

.accordion__top.ui-state-active .questions__item-top svg ellipse {
  fill: var(--color-FF9900);
}

.accordion__top.ui-state-active .questions__item-top svg path {
  fill: var(--color-FFFFFF);
}

.accordion__top.ui-state-active .questions__item-text {
  color: var(--color-FF9900);
}

.accordion__top.ui-state-active + .accordion__bottom {
  border-bottom: 1px solid var(--color-FF9900);
  position: relative;
  z-index: 2;
}

.accordion__bottom-text {
  width: 57%;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-333333);
}

.accordion__bottom-text:nth-child(1) {
  margin-bottom: 2%;
}

/* footer */

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--color-222222);
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  width: 21%;
}

.footer__logo-wrap {
  margin-bottom: 15px;
}

.footer__logo-link {
  display: inline-block;
}

.footer__logo-link:focus-visible {
  outline: none;
  outline: 2px solid var(--color-FF9900);
  outline-offset: 2px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-CACACA);
  transition: color .3s ease-in-out;
}

.footer__item-link:focus-visible {
  outline: none;
  outline: 2px solid var(--color-FF9900);
  outline-offset: 2px;
}

.footer__item-link:hover:not(:focus-visible) {
  color: var(--color-FF9900);
}

.footer__item-link:active:not(:focus-visible) {
  color: var(--color-E1670E);
}

.footer__list-social {
  display: flex;
}

.fotter__item-social-link {
  display: inline-block;
}

.fotter__item-social-link path {
  transition: fill .3s ease-in-out;
}

.fotter__item-social-link:focus-visible {
  outline: none;
  outline: 2px solid var(--color-FF9900);
}

.fotter__item-social-link:hover:not(:focus-visible) path {
  fill: var(--color-FF9900);
}

.fotter__item-social-link:active:not(:focus-visible) path {
  fill: var(--color-E1670E);
}

.fotter__item-social:nth-child(-n+2) {
  margin-right: 25px;
}

.footer__block-form {
  display: flex;
  flex-direction: column;
  width: 32.56%;
}

.footer__form-title {
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-CACACA);
}

.footer__form {
  display: flex;
  flex-direction: column;
  width: 98.8%;
}

.footer__input {
  margin-bottom: 25px;
}

.footer__texteria {
  min-height: 149.6px;
  margin-bottom: 32.4px;
  resize: none;
}

.footer__input,
.footer__texteria {
  padding: 2.46% 4.1%;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-FFFFFF);
  background-color: var(--color-414141);
  border: none;
  transition: background-color .3s ease-in-out;
}

.footer__input:focus-visible,
.footer__texteria:focus-visible,
.footer__input:hover:not(:focus-visible),
.footer__texteria:hover:not(:focus-visible) {
  outline: none;
  background-color: var(--color-666666);
}

.footer__input::placeholder,
.footer__texteria::placeholder {
  color: var(--color-CACACA);
  transition: color .3s ease-in-out;
}

.footer__input:active::placeholder,
.footer__texteria:active::placeholder {
  color: var(--color-FFFFFF);
}

.footer__send {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-CACACA);
}

.footer__send-btn {
  padding: 18.7px 51.8px;
  align-items: center;
  transition: background-color .3s ease-in-out;
}

.footer__send-btn:focus-visible,
.footer__send-btn:hover:not(:focus-visible) {
  outline: none;
  background-color: var(--color-F7B045);
}

.footer__send-btn:active:not(:focus-visible) {
  outline: none;
  background-color: var(--color-E1670E);
}

.check__label {
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.footer__send-checkbox {
  position: absolute;
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
}

.footer__send-checkbox:checked + .footer__checkbox {
  background-image: url('data:image/svg+xml,%3Csvg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="0.5" y="0.5" width="13" height="13" stroke="%23CACACA"/%3E%3Cpath d="M10.9498 4.08233L6.00002 9.03208L3.17159 6.20365" stroke="%2397EE3F" stroke-width="2"/%3E%3C/svg%3E');
}

.footer__send-checkbox:focus-visible + .footer__checkbox {
  background-image: url('data:image/svg+xml,%3Csvg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="0.5" y="0.5" width="13" height="13" stroke="%23CACACA"/%3E%3C/svg%3E');
  outline: none;
  outline: 2px solid var(--color-FF9900);
  outline-offset: 3px;
}

.footer__send-checkbox:checked:focus-visible + .footer__checkbox {
  background-image: url('data:image/svg+xml,%3Csvg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="0.5" y="0.5" width="13" height="13" stroke="%23CACACA"/%3E%3Cpath d="M10.9498 4.08233L6.00002 9.03208L3.17159 6.20365" stroke="%2397EE3F" stroke-width="2"/%3E%3C/svg%3E');
  outline: none;
  outline: 2px solid var(--color-FF9900);
  outline-offset: 3px;
}

.footer__checkbox {
  position: absolute;
  margin-left: -18px;
  width: 14px;
  height: 14px;
  background-image: url('data:image/svg+xml,%3Csvg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="0.5" y="0.5" width="13" height="13" stroke="%23CACACA"/%3E%3C/svg%3E');
}

.footer__block-text {
  width: 20.5%;
  padding-top: 87px;
}

.footer__text {
  font-size: 16px;
  line-height: 200%;
  color: var(--color-CACACA);
}


/* @media */

@media (min-width: 1201px) and (max-width: 1371px) {


  /* footer */

  .footer__list {
    margin-bottom: 34%;
  }

  .footer__block-text {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 50px;
  }

  /* header */

  .header {
    position: relative;
    overflow: hidden;
  }

  .header__container {
    height: 100px;
    justify-content: space-between;
  }

  .header__logo-link {
    margin: 0;
    width: 159px;
  }

  .header__logo-link-img {
    width: 95%;
  }

 .header__btn-open,
 .nav__close {
   display: block;
  }

  .header {
    position: relative;
    overflow: inherit;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -669px;
    background-color: var(--color-FFFFFF);
    padding: 39px 50px;
    width: 41%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    visibility: hidden;
    z-index: 2;
  }

  .header__nav.active {
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .header__nav-list {
    display: block;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .nav__close {
    margin-bottom: 85px;
  }

  .header__nav-link {
    font-size: 25px;
    line-height: 50px;
  }

/* hero */

  .section__hero {
    padding-bottom: 3.95%;
  }

  .hero__banner {
    padding: 17.34% 8.34%;
  }

  .slide1 {
    background-image: url('../img/herobackground1024.jpg');
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .hero__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7.7%;
  }

  .hero__pagination.swiper-bullet-pagination {
    margin-bottom: 2.15%;
  }

/* about */

  .about {
    padding-top: 3.95%;
    padding-bottom: 3.95%;
  }

  .about__title {
    padding: 0;
    margin-bottom: 1%;
  }

  .about__text {
    margin-bottom: 6.72%;
    letter-spacing: -0.02px;
  }

  .about__wrap {
    flex-direction: column;
  }

  .about__wrap-left {
    min-height: 640px;
    background-image: url('../img/about1024.jpg');
  }

  .about__wrap-text {
    width: 55%;
  }

  .about__wrap-right-block {
    background-position: left 10.5% center;
    background-size: 20.5%;
  }

  .about__wrap-right-content {
    padding: 7.1% 15% 6.9% 34.3%;
  }

/* working */

  .working {
    padding-top: 3.95%;
    padding-bottom: 3.95%;
  }

  .working__nav {
    margin-bottom: 5.4%;
  }

  .working__content-text {
    max-width: 47.3%;
    margin-bottom: 2.7%;
  }

  .working__content::before {
    width: calc(47% + 3px);
    top: 11.8px;
    background-image: url('../img/working1024.jpg');
  }

/* questions */

  .questions {
    padding-top: 3.95%;
    padding-bottom: 3.95%;
    margin-bottom: 4%;
  }

  .questions__title {
    margin-bottom: 3.3%;
  }

  .questions__item-text {
    width: 81%;
    font-size: 20px;
    line-height: 160%;
    text-align: initial;
  }

  .accordion__bottom-text {
    width: 100%;
  }

/* footer */

  .footer {
    padding-top: 4.9%;
  }

  .footer .container {
    padding: 0 48px;
  }

  .footer__info {
    width: 28%;
  }

  .footer__list {
    margin-bottom: 35%;
  }

  .footer__list-social {
    padding-left: 1px;
  }

  .footer__block-form {
    display: flex;
    flex-direction: column;
    width: 58.5%;
  }

  .footer__form {
    width: 99.5%;
  }

  .footer__input {
    margin-bottom: 4.9%;
  }

  .footer__send-btn {
    padding: 3.5% 6.95%;
  }

  .footer__checkbox {
    margin-left: -20px;
  }

  .footer__block-text {
    display: none;
  }
}

@media (max-width: 992px) {

  /* header */

  .header__container {
    height: 69px;
  }

  /* section__hero */

  .section__hero {
    padding-bottom: 5.35%;
  }

  .hero__banner {
    padding: 23.9% 6%;
  }

  .slide1 {
    background-image: url('../img/herobackground768.jpg');
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__text {
    margin-bottom: 10.1%;
    font-size: 18px;
    line-height: 22px;
  }

  .hero__btn {
    padding: 24.7px 37.2px;
  }

  .hero__pagination.swiper-bullet-pagination {
    margin-bottom: 2.9%;
  }

  .header__nav {
    top: -19px;
    bottom: -662px;
    width: 54.6%;
  }

  /* about */

  .about {
    padding-top: 5.35%;
    padding-bottom: 5.35%;
  }

  .about__title {
    margin-bottom: 1.1%;
  }

  .about__text {
    margin-bottom: 9.1%;
  }

  .about__wrap-left {
    min-height: 650px;
    background-image: url('../img/about768.jpg');
  }

  .about__wrap-left-content {
    padding-left: 40px;
  }

  .about__wrap-text {
    width: 58%;
    padding: 34px 0;
  }

  .about__wrap-btn {
    margin-right: 43.2px;
  }

  .about__wrap-right-block {
    background-position: left 7.3% center;
    background-size: 17%;
  }

  .about__wrap-right-content {
    padding: 5.3% 6% 5.1% 25.4%;
  }

  /* working */

  .working {
    padding-top: 5.35%;
    padding-bottom: 5.35%;
  }

  .working__title {
    margin-bottom: 7%;
  }

  .working__nav {
    justify-content: space-between;
    margin-bottom: 7.5%;
  }

  .working__content {
    padding-top: 48.3%;
  }

  .working__content.tab-1::before {
    width: 100%;
    bottom: 515px;
    top: 0;
    background-image: url('../img/working768.jpg');
  }

  .working__content.tab-2::before {
    width: 100%;
    bottom: 419px;
    top: 0;
    background-image: url('../img/workingTab2.jpg');
  }

  .working__content.tab-3::before {
    width: 100%;
    bottom: 515px;
    top: 0;
    background-image: url('../img/workingTab3.jpg');
  }

  .working__content.tab-4::before {
    width: 100%;
    bottom: 419px;
    top: 0;
    background-image: url('../img/workingTab4.jpg');
  }

  .working__content-text {
    max-width: 100%;
    margin-bottom: 3.7%;
  }

  /* questions */

  .questions {
    padding-top: 5.2%;
    padding-bottom: 5.2%;
    margin-bottom: 5.4%;
  }

  .questions__title {
    margin-bottom: 4.6%;
  }

  .questions__item-text {
    width: 86%;
  }

  .accordion__bottom-text {
    font-size: 14px;
    line-height: 28px;
  }

  /* footer */

  .footer {
    padding-top: 6.5%;
  }

  .footer__wrap {
    flex-direction: column-reverse;
  }

  .footer__info {
    width: 35%;
    padding-left: .2%;
  }

  .footer__logo-wrap {
    margin-bottom: 5.6%;
  }

  .footer__list {
    display: none;
  }

  .footer__block-form {
    width: 81%;
    padding-left: .3%;
  }

  .footer__form {
    width: 99.7%;
  }

  .footer__texteria {
    margin-bottom: 5.9%;
  }

  .footer__send {
    margin-bottom: 9.2%;
  }

  .footer__send-btn {
    padding: 3.52% 6.95%;
  }
}

@media (max-width: 736px) {

  /* header */

  .form {
    width: 281px;
  }

  .form__input {
    width: 154px;
  }

  .form__input::placeholder {
    font-size: 14px;
    line-height: 18px;
  }

  /* working */


  .working__nav {
    margin-bottom: 2.5%;
  }

  .working__content.tab-1::before {
    bottom: 75%;
  }

  .working__content.tab-2::before {
    bottom: 70%;
  }

  .working__content.tab-3::before {
    bottom: 74%;
  }

  .working__content.tab-4::before {
    bottom: 68%;
  }

  /* footer */

  .footer__send {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {

  .container {
    max-width: 320px;
    padding: 0 15px;
  }

  .section__title {
    font-size: 24px;
    line-height: 29px;
  }

  /* header */

  .header__nav {
    padding: 41px 15px;
    width: 100%;
    bottom: -308px;
  }

  .nav__close {
    margin-bottom: 24px;
  }

  .header__nav-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 32px;
  }

  /* section__hero */

  .section__hero {
    padding-bottom: 9.3%;
  }

  .hero__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20.7% 7%;
  }

  .slide1 {
    background-image: url('../img/herobackground320.jpg');
  }

  .hero__title {
    margin-bottom: 3%;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__text {
    margin-bottom: 12.9%;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    padding: 12.7px 28.9px;
    font-size: 12px;
    line-height: 15px;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .hero__pagination.swiper-bullet-pagination {
    margin-bottom: 1.7%;
  }

  /* about */

  .about {
    padding-top: 9.3%;
    padding-bottom: 9.3%;
  }

  .about__title {
    margin-bottom: 7.1%;
  }

  .about__text {
    margin-bottom: 4.8%;
    font-size: 14px;
    line-height: 28px;
  }

  .about__wrap-left {
    min-width: 100%;
    min-height: 399px;
    background-image: url('../img/about320.jpg');
    background-size: 100%;
  }

  .about__wrap-left-content {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    background: none;
  }

  .about__wrap-text {
    width: 100%;
    margin-bottom: 12px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: var(--color-333333);
  }

  .about__wrap-btn {
    margin: 0;
    padding: 12px 44px;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-FF9900);
  }

  .about__wrap-right-block {
    background-position: left top;
    background-size: 22%;
    outline: none;
  }

  .img__top {
    background-image: url('../img/Frame\ 39.svg');
  }

  .img__bottom {
    background-image: url('../img/Frame\ 38.svg');
  }

  .about__wrap-right-content {
    padding: 20.9% 3% 0 0;
  }

  .about__wrap-right-title {
    margin-bottom: 4.5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .14px;
  }

  .about__wrap-right-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  /* working */

  .working {
    padding-top: 9.3%;
    padding-bottom: 9.3%;
  }

  .working__nav {
    margin-bottom: 5.2%;
  }

  .working__item:nth-child(-n+3) {
    margin-right: 44px;
  }

  .working__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-333333);
  }

  .working__content {
    padding-top: 60.8%;
  }

  .working__content.tab-1::before {
    bottom: 83.5%;
    background-image: url('../img/working320.jpg');
  }

  .working__content.tab-2::before {
    bottom: 78.5%;
    background-image: url('../img/workingTab2.jpg');
  }

  .working__content.tab-3::before {
    bottom: 82.5%;
    background-image: url('../img/workingTab3.jpg');
  }

  .working__content.tab-4::before {
    bottom: 77.5%;
    background-image: url('../img/workingTab4.jpg');
  }

  .working__content-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: .12px;
  }

  .working__content-text {
    margin-bottom: 5.5%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .working__btn {
    margin-right: 6px;
    padding: 12.4px 43.7px;
    font-size: 12px;
    line-height: 15px;
  }

  .working__btn-contract {
    padding: 11px 30.5px;
    font-size: 12px;
    line-height: 15px;
  }

  /* questions */

  .questions {
    padding-top: 9.35%;
    margin-bottom: 13.6%;
  }

  .questions__title {
    margin-bottom: 5.5%;
  }

  .questions__item-top {
    padding-bottom: 29.5px;
  }

  .questions__item-top svg {
    width: 30px;
  }

  .questions__item-text {
    width: 84%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .15px;
  }

  .accordion__bottom-text {
    font-size: 12px;
    line-height: 24px;
  }

  /* footer */

  .footer {
    padding-top: 9.9%;
    padding-bottom: 6%;
  }

  .footer .container {
    padding: 0 13px;
  }

  .footer__form-title {
    margin-bottom: 21.2px;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__form {
    width: 122.5%;
    padding-left: 1px;
  }

  .footer__input {
    height: 60px;
    margin-bottom: 8.6%;
  }

  .footer__input,
  .footer__texteria {
    font-size: 14px;
    line-height: 32px;
    padding: 4.8% 6.9%;
  }

  .footer__texteria {
    margin-bottom: 8.9%;
  }

  .footer__send {
    margin-bottom: 0;
  }

  .footer__send-btn {
    margin-bottom: 4%;
    padding: 4.23% 9.7%;
    font-size: 12px;
    line-height: 15px;
  }

  .check__label {
    padding-left: 17px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-595959);
  }

  .footer__checkbox {
    margin-left: -18px;
  }

  .footer__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo-wrap {
    margin-bottom: .3%;
  }

  .footer__logo-link-img {
    max-width: 73%;
    padding-top: 16px;
    width: 73%;
    padding-left: 79px;
  }

  .fotter__item-social svg {
    width: 40px;
  }

  .footer__list-social {
    padding: 0;
    width: 52.1%;
  }

  .fotter__item-social:nth-child(-n+2) {
    margin-right: 16px;
  }


}






